/* 设置公司名称为加粗样式 */
.company-name {
    font-weight: bold;
}

/* 设置地点字体稍小 */
.location {
    font-size: smaller;
}

/* 设置公司信息和时间在同一行显示，并两端对齐 */
.company,
.role {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 设置职位标题斜体并独占一行 */
.role-title {
    font-style: italic;
    width: 100%;
}
